#mapid {
  width: 90vw;
  height: 90vh;
  position: relative;
  margin: 5vh auto;
}

.leaflet-popup-content ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0.5em;
}

.leaflet-popup-content li {
	border-bottom: 1px dotted #c0c0c0;
	display: inline-block;
	width: 100%;
}

.time_ok {
  color: green;
}

.time_nok {
  color: red;
}

.time_nok .delay {
  float: right;
}
