#mapid {
  width: 90vw;
  height: 90vh;
  position: relative;
  margin: 5vh auto;
}

ul.public_transport {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0.5em;
  max-height: 16em;
  overflow: scroll;
}

ul.bikesharing {
  padding-left: 0;
}

.leaflet-popup-content li {
  border-bottom: 1px dotted #c0c0c0;
  display: inline-block;
  width: 100%;
}

.leaflet-popup-content .loading {
  font-size: 200%;
  text-align: center;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.bikesharing li {
  font-size: 1.25em;
}

.time_ok {
  color: green;
}

.time_nok {
  color: red;
}

.time_nok .delay {
  float: right;
  margin: 0 5px;
}

.platform {
  float: right;
  color: #808080;
  margin: 0 5px;
}

.chargingstate {
  float: right;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
